<div class="page-header">
    <div class="page-header__top">
        <div class="uk-container uk-container-center">
            <div class="page-header__top-contain uk-grid">
                <div class="uk-width-1-3">
                    <span class="logo"></span>
                    <h1>Благотворительный фонд</h1>
                </div>
                <div class="uk-width-1-2">
                    <a class="page-header__top-phone" href="#">8 (831) 255-67-67</a>
                    <a class="page-header__top-btn" href="#"></a>
                </div>
            </div>
        </div>
    </div>
    <div class="uk-container uk-container-center">
        <nav class="page-header__navbar">
            <ul class="page-header__navbar-list">
                <li class="page-header__navbar-item">
                    <a class="page-header__navbar-link" href="">Главная</a>
                </li>
                <li class="page-header__navbar-item">
                    <a class="page-header__navbar-link" href="">О фонде</a>
                </li>
                <li class="page-header__navbar-item">
                    <a class="page-header__navbar-link" href="">Что мы делаем</a>
                </li>
                <li class="page-header__navbar-item">
                    <a class="page-header__navbar-link" href="">Где мы работаем</a>
                </li>
                <li class="page-header__navbar-item">
                    <a class="page-header__navbar-link" href="">Поддержите нас</a>
                </li>
                <li class="page-header__navbar-item">
                    <a class="page-header__navbar-link" href="">Новости и события</a>
                </li>
                <li class="page-header__navbar-item">
                    <a class="page-header__navbar-link" href="">Помочь</a>
                </li>
                {#<li class="uk-parent"><a href="">...</a></li>#}
            </ul>
        </nav>
    </div>
    <div class="page-hero">
        <div class="uk-container uk-container-center">
            <img class="page-hero__img" src="" alt="">
        </div>
    </div>
</div>